#pandya{
width: 600px;
}

#sharma{
 width: 600px;
}

#yadav{
width: 600px;
}

#varma{
width: 600px;
}

#boom{
width: 600px;
}

#line{
marquee:

}
#headline{
border-radius: 1cm;
background-color: blue;
color-scheme: green;
text-align: justify;

}

#line{
color:red
}